.html{
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('iste-background.png') no-repeat center center fixed;
    background-size: cover;
}

.rectangle {
    width: 100%;
    height: 70px;
    background: url('iste-background.png') no-repeat center center fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.tsec_logo img,
.iste_logo img {
    width: 70px;
    height: auto;
}

.iste_logo {
    margin-left: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.nav-list li {
    font-size: 18px;
}

.button.golden-button {
    color: #FFD700;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    text-transform: capitalize;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button.golden-button:hover {
    background-color: transparent;
    color: #FFD700;
    transform: scale(1.05);
    text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
    border-radius: 90px;
}

.button {
    color: #67c2ff;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    text-transform: capitalize;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: transparent;
    color: #67c2ff;
    transform: scale(1.05);
    text-shadow: 0 0 10px #67c2ff, 0 0 20px #67c2ff, 0 0 30px #67c2ff;
    border-radius: 90px;
}


.current-events {
    font-size: 24px;
    color: #67c2ff;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 5px #67c2ff, 0 0 20px #67c2ff, 0 0 30px #67c2ff;
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container{
  margin-top: 4cm;
  display: grid;
  grid-template-columns: repeat(4, 1FR);
  padding-left: 9.5%;
  gap: 40px;
  justify-content: center;
}
/* From Uiverse.io by ElSombrero2 */ 
.card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  color: #6699ff;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ffffff, #67c2ff, #1576fef8, #00058d, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.back .img-container {
  width: 100%;
  height: 100%;
}

.back .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #6699ff;
  margin-top: 5px;
  font-size: 11px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}